{
  "Version": "2019-10-30",
  "StartAction": "222caecc-c107-4553-87fc-85a74c34bb06",
  "Metadata": {
    "entryPointPosition": {
      "x": 74.4,
      "y": 20
    },
    "ActionMetadata": {
      "95dc2179-0f18-4646-8e15-15377c9cbb29": {
        "position": {
          "x": 490.4,
          "y": 140.8
        }
      },
      "222caecc-c107-4553-87fc-85a74c34bb06": {
        "position": {
          "x": 230.4,
          "y": 96
        }
      }
    },
    "Annotations": [],
    "name": "Default agent whisper",
    "description": "",
    "type": "agentWhisper",
    "status": "PUBLISHED",
    "hash": {}
  },
  "Actions": [
    {
      "Parameters": {},
      "Identifier": "95dc2179-0f18-4646-8e15-15377c9cbb29",
      "Type": "EndFlowExecution",
      "Transitions": {}
    },
    {
      "Parameters": {
        "Text": "$.Queue.Name"
      },
      "Identifier": "222caecc-c107-4553-87fc-85a74c34bb06",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "95dc2179-0f18-4646-8e15-15377c9cbb29"
      }
    }
  ]
}