{
  "Version": "2019-10-30",
  "StartAction": "5e641eb0-0e27-4f78-9e3e-5d8cd35a4ac5",
  "Metadata": {
    "entryPointPosition": {
      "x": 14.4,
      "y": 102.4
    },
    "ActionMetadata": {
      "5e641eb0-0e27-4f78-9e3e-5d8cd35a4ac5": {
        "position": {
          "x": 144,
          "y": 102.4
        }
      },
      "ea49dc11-0478-4508-b018-5703eda402dd": {
        "position": {
          "x": 388,
          "y": 97.6
        },
        "parameters": {
          "AgentId": {
            "useDynamic": true
          }
        },
        "useDynamic": true
      },
      "610ed3fd-460f-491c-b250-a686105af077": {
        "position": {
          "x": 646.4,
          "y": 92
        }
      },
      "f5c21661-329c-4d34-afe6-143703a7a34f": {
        "position": {
          "x": 869.6,
          "y": 257.6
        }
      },
      "d5d82a97-0a9a-40f1-9dde-d26f56db7ff2": {
        "position": {
          "x": 1068,
          "y": 97.6
        }
      }
    },
    "Annotations": [],
    "name": "Default agent transfer",
    "description": "",
    "type": "agentTransfer",
    "status": "PUBLISHED",
    "hash": {}
  },
  "Actions": [
    {
      "Parameters": {
        "Text": "Transferring now..."
      },
      "Identifier": "5e641eb0-0e27-4f78-9e3e-5d8cd35a4ac5",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "ea49dc11-0478-4508-b018-5703eda402dd"
      }
    },
    {
      "Parameters": {
        "AgentId": "$.Agent.ARN"
      },
      "Identifier": "ea49dc11-0478-4508-b018-5703eda402dd",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "610ed3fd-460f-491c-b250-a686105af077",
        "Errors": [
          {
            "NextAction": "f5c21661-329c-4d34-afe6-143703a7a34f",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "610ed3fd-460f-491c-b250-a686105af077",
      "Type": "TransferContactToQueue",
      "Transitions": {
        "NextAction": "f5c21661-329c-4d34-afe6-143703a7a34f",
        "Errors": [
          {
            "NextAction": "f5c21661-329c-4d34-afe6-143703a7a34f",
            "ErrorType": "QueueAtCapacity"
          },
          {
            "NextAction": "f5c21661-329c-4d34-afe6-143703a7a34f",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Text": "Failed to transfer."
      },
      "Identifier": "f5c21661-329c-4d34-afe6-143703a7a34f",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "d5d82a97-0a9a-40f1-9dde-d26f56db7ff2"
      }
    },
    {
      "Parameters": {},
      "Identifier": "d5d82a97-0a9a-40f1-9dde-d26f56db7ff2",
      "Type": "DisconnectParticipant",
      "Transitions": {}
    }
  ]
}